<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div style="display: grid">
      <a href="./actors">actors</a>
      <a href="./agencies">agencies</a>
    </div>

    <form action="/" method="post">
      <input type="text" name="name" placeholder="name" />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
